<html>
<head>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    @*<link href="~/assets/css/style-starter.css" rel="stylesheet" />*@
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <a href="~/assets/fonts/FontAwesome.otf"></a>
    <a href="~/assets/fonts/fontawesome-webfont.eot"></a>
    <img src="~/assets/fonts/fontawesome-webfont.svg" />
    <a href="~/assets/fonts/fontawesome-webfont.ttf"></a>
    <a href="~/assets/fonts/fontawesome-webfont.woff"></a>
    <a href="~/assets/fonts/fontawesome-webfont.woff2"></a>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.countup.js"></script>
    <script src="~/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/assets/js/owl.carousel.js"></script>
    <script src="~/assets/js/theme-change.js"></script>
 </head>





</html>
   
